body {
	font-size: 0.8em;
	font-family: PingFang SC,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
}

#bookmark-content {
	display: inline-block;
	width: calc(100% - 50px);
	height: calc(100vh - 50px);
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 20px;
	border: 1px solid black;
	overflow: scroll;
}

dl {
	line-height: 2em;
	display: block;
	padding-left: 30px;
	cursor: pointer;
}

dt a {
	display: block;
	width: 100%;
	line-height: 2em;
	text-align: justify;
	color: black;
	text-decoration: none;
	font-weight: normal;
}

h3 {
	background: none;
}

h3:before {
	content: url("arrow_down_24.png");
	float: left;
	margin: 0 6px 0 0;
}

h3.hide-content:before {
	content: url("arrow_right_24.png");
	float: left;
	margin: 0 6px 0 0;
}

h3:hover, a:hover {
	background-color: rgba(208, 243, 255, 0.964);
}

a:hover {
	color: blue;;
	font-weight: bolder;
}

#open-link-btns {
	display: none;
	vertical-align: bottom;
}

span.open-all {
	margin-left: 20px;
	font-weight: normal;
	font-size: 0.5em;
	color: gray;
}

span.open-all:hover {
	color: darkslategray;
	font-weight: bolder;
	font-size: 0.8em;
}
