body {
	overflow: hidden;
	padding: 0px;
	font-family: Calibri, Arial, 微軟正黑體, 新細明體;
	font-size: 0.8em;
}

#earth-map {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-image: url(map/global-map.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#boundary-adjust {
	/* display: none; */
	border: 1px solid black;
	background-color: rgba(0,0,0,0.2);
	z-index: 100;
	position: fixed;
}

#pos-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.timePos {
	position: fixed;
	width: 10px;
	height: 10px;
	z-index: 2;
	/* border: 4px solid blue; */
	background-color: yellow;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
}

div.timePosDesc {
	position: fixed;
	background-color: #124f0d;
	color: white;
	z-index: 1;
	padding: 5px 20px 10px 10px;
	cursor: default;
}

div.timePosDesc:hover {
	z-index: 3;
	color: yellow;
}

div.posArrow {
	position: fixed;
	border: none;
	background-color: #124f0d;
	z-index: -1;
}

.posName {
	font-size: 1.2em;
}

.timeStr {
	font-size: 1.2em;
	line-height: 120%;
}

a.posReference:link, a.posReference:visited {
	text-decoration: none;
	cursor: pointer;
	color: white;
}
